/* HOVER */
.hover:hover{
    opacity: .6 !important;
}

th{
    border-bottom-color: #EAEAEA !important;
    color: #6c757d !important;
    font-weight: 300;
}

td{
    border: none
}

/* BARRA ROLAGEM PERSONALIZADA */
/* width */
::-webkit-scrollbar {
    width: 12px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #191922;
    border-left: 1px solid #373749;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(82, 79, 79);
    border: 2px solid #373749;
    border-radius: 50px;
    height: 25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* BOOTSTRAP SELECTOR */
.selector-for-some-widget {
    box-sizing: content-box;
}

/* FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

