/* HOVER */
.hover:hover{
    opacity: .6 !important;
}

th{
    border-bottom-color: #EAEAEA !important;
    color: #6c757d !important;
    font-weight: 300;
}

/* BARRA ROLAGEM PERSONALIZADA */
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px
} 

body::-webkit-scrollbar-thumb {   
    background-color: darkgrey;   
}

/* BOOTSTRAP SELECTOR */
.selector-for-some-widget {
    box-sizing: content-box;
}

/* FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

