{% extends "base.html" %}

{% block content %}

<main>
    <div class="col s12 m6 l10 center">
        <h3 class="text-theme truncate">Albúm</h3>
    </div>

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="collection">
                        {% for album in list.tracks.data %}
                        <li class="collection-item avatar">
                            <img src="{{list.cover_small}}" alt="" class="circle">
                            <span class="title truncate">{{album.title}}</span>
                            <p class="truncate">{{album.artist.name}}</p>
                            <a href="{{album.preview}}" class="secondary-content"><i class="material-icons">play_circle_outline</i></a>
                        </li>
                        {% endfor %} 
                    
                    </ul>
                </div>
            </div>    
        </div>
    </div>
</main>

{% endblock content %}