{% extends "base.html" %}

{% block title %}
    Dashboard | Deezer
{% endblock %}

{% block content %}
    <div class="container w-40">
        <form method="POST">
            {% csrf_token %}
            <div class="input-field col s12">
                <i class="material-icons prefix" type="submit">search</i>
                <input type="text" name="pesquisa" id="pesquisa">
                <label for="pesquisa">Pesquisar Música</label>
            </div>
        </form>
    </div>



    <div class="container">
        <div class="container">
            {% if list.tracks.data %}
                <h4 class=center>Top Brasil</h4>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            <ol>
                                {% for music in list.tracks.data %}
                                    <li class="collection-item avatar">
                                        <img src="{{music.album.cover_small}}" alt="" class="circle">
                                        <span class="title truncate">{{music.title}}</span>
                                        <p class="truncate">{{music.artist.name}}<br>
                                            <a href="{% url 'album' music.album.id %}">{{music.album.title}}</a>
                                        </p>
                                        <a href="{{music.preview}}" class="secondary-content"><i class="material-icons">play_circle_outline</i></a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </ul>
                    </div>
                </div>
            {% elif list.data %}
                <h4 class=center>Pesquisa</h4>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            {% for music in list.data %}
                                <li class="collection-item avatar">
                                    <img src="{{music.album.cover_small}}" alt="" class="circle">
                                    <span class="title truncate">{{music.title}}</span>
                                    <p class="truncate">{{music.artist.name}}<br>
                                        <a href="{% url 'album' music.album.id %}">{{music.album.title}}</a>
                                    </p>
                                    <a href="{{music.preview}}" class="secondary-content"><i class="material-icons">play_circle_outline</i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            {% endif %}
        </div>
    </div>
{% endblock content %}