{% extends "base.html" %}

{% block content %}

<main>
    <div class="col s12 m6 l10 center">
        <h3 class="text-theme truncate">Music</h3>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="input-field col s12">
                <i class="material-icons prefix" type="submit">search</i>
                <input type="text" name="pesquisa" id="pesquisa">
                <label for="pesquisa">Pesquisar Música</label>
            </div>
        </div>
    </form>

    {% if messages %}
        <div class="container center">
            <div class="col s6">
                <div class="container">
                    <div class="container">
                        <div class="container">
                            <div class="container">
                                <div class="card red">
                                    <ul class="messages white-text">
                                        {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                {% for music in list_deezer.data %}
                <div class="col s6">
                    <div class="card z-depth-4">
                        <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{music.album.cover_small}}">
                                </div>
            
                            
                            <div class="card-content">
                                <span style="font-size: 18px;" class="card-title activator grey-text text-darken-4">{{music.title}}</span>
                                    <li class="divider grey"></li>
                                    <li><strong>Cantor:</strong> {{music.artist.name}}</li>
                                    <li class="divider grey"></li>
                                    <li><strong>Albúm:</strong> {{music.album.title}}</li>
                                    <li class="divider grey"></li>
                                    <p><a class= "deep-orange-text text-lighten-1" href="{{music.preview}}">Preview</a></p> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
            </div>
        </div>    
    </div>
</main>

{% endblock content %}